{{#extends 'base'}}

{{#block 'content'}}
<h1>Register Vendor Account</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    <button class="btn btn-primary my-3">Register</button>
</form>

{{/block}}

{{/extends}}