{{#extends 'base'}}

{{#block 'content'}}

<div class="heroImage">
    <div id="vendorProfilePage">
        <div id="profileContainer">
            <h1>Your Profile</h1>
            <hr></hr>
            <p>Name: {{vendor.username}}</p>
            <p>Email: {{vendor.email}}</p>
            <p>Contact no: {{vendor.phone_number}}</p>
            <p>Ship From Address: {{vendor.address}}</p>
            <a href="/auth/update" class="btn btn-warning">Edit</a>
        </div>
    </div>
</div>

{{/block}}

{{/extends}}