{{#extends 'base'}}

{{#block 'content'}}


<div class="heroImage">
    <div id="loginPage">
        
            <div id="loginContainer">
                <h1>Vendor Login</h1>
                <hr></hr>
                <form method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    {{{form}}}
                    <button id="loginBtn" class="btn my-3">Login</button>
                </form>
                <a href="/auth/create">Create an account</a>
            </div>
        
    </div>
</div>




{{/block}}

{{/extends}}