{{#extends 'base'}}

{{#block 'content'}}


<div id="loginHeroImage">
    <div id="loginPage">
        <section id="loginExtraSection">
            Board Games Society (Vendor)
        </section>
        <section id="loginFormSection">
            <div id="loginContainer">
                <h1>Vendor Login</h1>
                <form method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    {{{form}}}
                    <button id="loginBtn" class="btn my-3">Login</button>
                </form>
                <a href="/auth/create">Create an account</a>
            </div>
        </section>
    </div>
</div>




{{/block}}

{{/extends}}