{{#extends 'base'}}

{{#block 'content'}}
  <div class="container-fluid" id="createListingPage">
    <h1>Create Boardgame Listing</h1>
    <hr></hr>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
          {{{form}}}
        <section>
          <input
            type="hidden"
            role="uploadcare-uploader"
            data-public-key={{img_key}}
            id="uploadcareImage"
            name="image" />
          <button id="createBtn" class="btn my-3">Create</button>
        </section>
    </form>
  </div>

{{/block}}

{{#block 'js'}}
  <script
    src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js">
  </script>
{{/block}}

{{/extends}}