{{#extends 'base'}}

{{#block 'content'}}
<h1>Create Boardgame Listing</h1>
<form method="POST">
    {{{form}}}
    <button class="btn btn-primary my-3">Create listing</button>
</form>

{{/block}}

{{/extends}}