{{#extends 'base'}}

{{#block 'content'}}
<h1>Create Boardgame Listing</h1>
<form method="POST">
    {{{form}}}
    <input
      type="hidden"
      role="uploadcare-uploader"
      data-public-key={{img_key}}
      id="uploadcareImage"
      name="image" />
    <button class="btn btn-primary my-3">Create listing</button>
</form>

{{/block}}

{{#block 'js'}}
<script
  src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js">
</script>
{{/block}}

{{/extends}}