{{#extends 'base'}}

{{#block 'content'}}

<h1>Deleting {{gameListing.name}}</h1>

<form method="POST">
    <div class="alert alert-danger">
        <p>Are you sure you want to remove {{gameListing.name}} from your listing?</p>
        <a href="/listings" class="btn btn-secondary">No</a>
        <button class="btn btn-danger">Yes</button>
    </div>

</form>


{{/block}}

{{/extends}}