@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');


/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Noto Serif JP', serif; */

* {
    margin: 0;
    padding:0;
    font-family: 'Noto Serif JP', serif;
}


/* === nav bar === */
.navbar {
    background-color: #2f211b;
}

.nav-link {
    color: white;
    padding: 0;
}
.dropdown-menu {
    min-width: 5rem;
}

.navLoginLogout {
    color: white;
    text-decoration: none;
}

.navUser {
    color: white;
}

.userIcon, .logInOut {
    display:inline-block;
    color: rgb(255, 255, 255);
}

.fa-user-circle {
    margin-right: 5px;
}

.userIcon {
    margin-right: 10px;
}

.userIconContainer {
    position: absolute;
    right: 70px;
    top: 8px;
}

.navLoginLogout:hover, .nav-link:hover, #userIcon:hover {
    color: rgb(110, 110, 110) !important;
    cursor:pointer;
  }

#logoContainer {
    height: 30px;
    width: 108px;
    background-image: url('./brandLogo.png');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}


/* === landing page === */
#loginHeroImage {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url('https://media.timeout.com/images/105627949/750/422/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}

#loginPage {
    height: 100%;
    width: 100%;
    background-color: rgba(94, 60, 9, 0.356);
    display: flex;
}

#loginExtraSection {
    flex: 2;
}

#loginFormSection {
flex: 1;
padding: 80px 50px;

}

#loginContainer {
height: 500px;
width: 100%;
min-width: 300px;
padding: 50px 20px;
background-color: white;
border-radius: 5px;
}

#loginExtraSection {
    color: white;
    font-size: 3rem;
    margin: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#loginBtn {
    background-color: orange;
    width: 100%;
}

#loginBtn:hover {
    background-color: rgb(255, 145, 0);
}

#loginContainer > a {
    color: orange;
}

#loginContainer > a:hover{
    color: rgb(235, 135, 21);
}

.alert {
    margin-bottom: 0;
}


/* listing page */
#mainSection{
    display:flex;
    min-height: 100vh;
}

#searchSection{
    flex:1;
    padding: 0 20px;
    margin: 5px;
    /* background: blue; */
}

#searchSection h2 {
    font-size: 1.7rem;
    margin-top: 20px;
}

#displaySection{
    flex: 5;
    min-width: 500px;
    padding: 0 30px;
    /* background: green; */
}

#listingHeader {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#listingHeader h1 {
    font-size: 1.7rem;
}

#listingHeader a {
    position: absolute;
    right: 0px;
    bottom: 5px;
    background: orange;
}

#listingHeader a:hover {
    background: rgb(255, 141, 10);
}



/* orders page*/

#orderPage {
    display:flex;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 15px;
}

#orderSearchSection {
    flex: 1;
    min-width: 200px;
    margin: 15px;
}

#orderSearchSection h2, #ordersHeader {
    font-size: 1.7rem;
}

#orderDisplaySection {
    flex: 5;
}

#ordersTable {
    margin: 10px 30px;
}

/* individual order detail */
#orderDetailsPage {
    margin: 10px 30px;
}

#orderDetailsHeader {
    font-size: 2rem;
}

#updateOrderForm {
    width: 300px;
    font-size: 1.4rem;
}

#saveChangeBtn {
    width: fit-content;
}

/* create listing page */
#createListingPage {
    width: 100%;
    height: calc(100vh - 56px);
    /* padding: 20px 50px; */
    padding: 30px 100px;
}

#createListingPage h1 {
    font-size: 2rem;
}

#createListingPage .form-control {
    margin-bottom: 20px;
}


#createBtn {
    background-color: orange;
    width: 125px;
}

.resetFilterBtn {
    background-color: orange;
}

.resetFilterBtn:hover {
    background-color: rgb(255, 145, 0);
}

/* === update listing page === */

#updateListingPage {
    padding: 30px 100px;
}

#updateListingPage h1 {
    font-size: 2rem;
}

#updateListingPage .form-control {
    margin-bottom: 20px;
}

#updateListingPage .btn-secondary {
    margin-left: 5px;
}


#updateListingPage .btn-danger {
    display: block;
    width: 90px;
}

/* === delete listing page === */
#deleteListingPage {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#deleteListingPage h1 {
    font-size: 1.7rem;
}

/* === delete order page === */
#deleteOrderPage {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#deleteOrderPage h1 {
    font-size: 1.7rem;
}

/* === vendor profile page === */
#vendorProfilePage, #vendorUpdatePage {
    width: 100%;
    min-height: 100vh;
    /* background: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#profileContainer, #updateProfileContainer {
    padding: 50px;
    width: 30%;
    min-width: 300px;
    min-height: 500px;
    background: white;
    border-radius: 5px;
    border: 1px solid grey;

    
}

/* ========= FOR SMALLER DEVICES ========= */
@media screen and (max-width: 768px){

    /* create and update listing page */
    #createListingPage, #updateListingPage {
        padding: 30px 30px;
    }

    #createListingPage h1, #updateListingPage h1 {
        font-size: 1.2rem;
    }


    

}