* {
    margin: 0;
    padding:0;
}

/* === landing page === */
#loginHeroImage {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url('https://media.timeout.com/images/105627949/750/422/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}

#loginPage {
    height: 100%;
    width: 100%;
    background-color: rgba(94, 60, 9, 0.356);
    display: flex;
}

#loginExtraSection {
    flex: 2;
}

#loginFormSection {
flex: 1;
padding: 80px 50px;

}

#loginContainer {
height: 500px;
width: 100%;
min-width: 300px;
padding: 50px 20px;
background-color: white;
border-radius: 5px;
}

#loginExtraSection {
    color: white;
    font-size: 3rem;
    margin: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#loginBtn {
    background-color: orange;
    width: 100%;
}

#loginBtn:hover {
    background-color: rgb(255, 145, 0);
}

#loginContainer > a {
    color: orange;
}

#loginContainer > a:hover{
    color: rgb(235, 135, 21);
}

.alert {
    margin-bottom: 0;
}


/* listing page */
#mainSection{
    display:flex;
    min-height: 100vh;
}

#searchSection{
    flex:1;
    padding: 0 20px;
    /* background: blue; */
}

#searchSection h2 {
    font-size: 1.7rem;
    margin-top: 20px;
}

#displaySection{
    flex: 5;
    min-width: 500px;
    padding: 0 30px;
    /* background: green; */
}

#listingHeader {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#listingHeader h1 {
    font-size: 1.7rem;
}

#listingHeader a {
    position: absolute;
    right: 0px;
    bottom: -5px;
    background: orange;
}

#listingHeader a:hover {
    background: rgb(255, 141, 10);
}


/* orders */
#ordersTable {
    margin: 10px 30px;
}

#ordersHeader {
    font-size: 2rem;
}

/* individual order detail */
#orderDetailsPage {
    margin: 10px 30px;
}

#orderDetailsHeader {
    font-size: 2rem;
}

#statusForm {
    width: 200px;
    font-size: 1.4rem;
}

#saveChangeBtn {
    width: 200px;
}

/* create listing page */
#createListingPage {
    width: 100%;
    height: calc(100vh - 56px);
    padding: 20px 50px;
}

#createListingPage h1 {
    font-size: 1.5rem;
}

#createListingForm {
    min-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

#createListingForm > .form-group {
    width: 45%;
    margin: 0px 15px;
}

#btnContainer {
    height: 135px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 3%;
}

#createBtn {
    background-color: orange;
    width: 125px;
}