{{#extends 'base'}}

{{#block 'content'}}

<h1>Deleting {{order.id}}</h1>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="alert alert-danger">
        <p>Are you sure you want to remove {{order.id}} from your orders?</p>
        <a href="/orders/{{order.id}}" class="btn btn-secondary">No</a>
        <button class="btn btn-danger">Yes</button>
    </div>

</form>


{{/block}}

{{/extends}}